<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmj.dao.ClothesOrderItemDao">

    <resultMap id="clothesOrderItem" type="com.hmj.entity.ClothesOrderItem">
        <id column="order_no" property="order_no" />
        <result column="address" property="address" />
        <result column="weight" property="weight" />
        <result column="create_time" property="create_time" />
        <result column="update_time" property="update_time" />
    </resultMap>

    <insert id="insert" parameterType="ClothesOrderItem" keyProperty="order_no">
        INSERT INTO clothes_order_item(order_no, address, weight, create_time, update_time)
        VALUE(#{order_no}, #{address}, #{weight}, #{create_time},  #{update_time})
    </insert>

    <delete id="delete" parameterType="String">
      DELETE FROM clothes_order_item WHERE order_no = #{order_no}
    </delete>

    <select id="select" resultMap="clothesOrderItem">
    SELECT  * FROM clothes_order_item
    </select>

    <select id="selectByOrderNo" resultMap="clothesOrderItem" parameterType="String">
    SELECT  * FROM clothes_order_item WHERE order_no = #{order_no}
    </select>

    <!--<update id="update" parameterType="User" useGeneratedKeys="true" keyProperty="id">-->
    <!--UPDATE user SET password = #{password} WHERE email = #{email}-->
    <!--</update>-->

</mapper>