<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmj.dao.OrderDao">

    <resultMap id="order" type="com.hmj.entity.Order">
        <id column="id" property="id" />
        <result column="user_name" property="user_name" />
        <result column="order_no" property="order_no" />
        <result column="sender_name" property="sender_name" />
        <result column="sender_number" property="sender_number" />
        <result column="sender_address" property="sender_address" />
        <result column="sender_time" property="sender_time" />
        <result column="status" property="status" />
        <result column="create_time" property="create_time" />
        <result column="update_time" property="update_time" />
    </resultMap>


    <select id="selectAllOrder" resultMap="order" >
        SELECT  * FROM user_order
    </select>

    <select id="selectAllOrderByName" resultMap="order" parameterType="java.lang.String">
        SELECT  * FROM user_order
        WHERE user_name = #{name}
    </select>

    <select id="search" resultMap="order" parameterType="java.lang.String">
        SELECT  * FROM user_order
        WHERE order_no LIKE concat('%',#{order_no},'%')
    </select>


    <insert id="insert" parameterType="Order" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO user_order(user_name, order_no, sender_name, sender_number, sender_address, sender_time, status, create_time, update_time)
        VALUE(#{user_name}, #{order_no}, #{sender_name}, #{sender_number}, #{sender_address}, #{sender_time}, 0, #{create_time},  #{update_time})
    </insert>

    <delete id="delete" parameterType="int">
        DELETE FROM user_order WHERE id = #{id}
    </delete>

    <select id="selectOrderNoById" resultType="String" parameterType="int" >
        SELECT  order_no FROM user_order
        WHERE id = #{id}
    </select>

    <select id="selectUserNameById" resultType="String" parameterType="int" >
        SELECT  user_name FROM user_order
        WHERE id = #{id}
    </select>

    <!--<update id="update" parameterType="User" useGeneratedKeys="true" keyProperty="id">-->
    <!--UPDATE user SET password = #{password} WHERE email = #{email}-->
    <!--</update>-->

</mapper>